/* -------- Título  -------- */

.titulo {color: #c5a808; font: 38px libre baskerville; 
letter-spacing: -2pt; margin-top: -48px; padding-bottom: auto; 
font-weight: normal; font-weight: bold; TEXT-TRANSFORM: normal;}

.subtitulo {
color: #30271b;
font-family: calibri;
font-size: 12px;
font-style: normal;
font-weight:bold;lowercase;
letter-spacing: 0px; 
padding-top:1px;
padding-bottom:1px;}

.titulo_post {
font-family: calibri; 
text-transform:uppercase;   
font-size: 12px; 
font-weight:bold;
font-style:none; 
text-align:center; 
letter-spacing:0px; 
color: #30271b; 
-moz-border-radius: 0px;
padding: 1px;}

.table {
 color:  #30271b;
font-size: 11px;
font-family: calibri;
border-top: 5px solid #0c0800;
border-bottom: 0px solid #EDEFF1;
border-right: 0px solid #EDEFF1;
border-left: 0px solid #EDEFF1;
text-align: justify;
background-color: #110b01;
padding: 10px;
width: 450px;
-moz-border-radius: 0px;
}

.t1{background-color: #0c0800; color: #30271b; padding: 20px; text-align: center; 
font: normal 8px cambria; text-transform: uppercase; letter-spacing: 2px; width: 380px; 
border-left: 0px solid #F7F7F7; border-right: 0px solid #F7F7F7; border-top: 0px solid #F7F7F7;}
.t2{background-color: #110b01; color: #0c0800; padding: 10px; text-align: center; 
font: normal 10px calibri; text-transform: normal; letter-spacing: 0px; width: 400px; 
border-right: 5px solid #110b01; border-bottom: 5px solid #110b01; border-left: 5px solid #110b01;}

/* ---------- Links --------- */

a:link {font: normal 8px consolas; 
font-weight: 0; border-bottom: 0px dashed #CC9933;
text-transform: uppercase; 
letter-spacing: 1px; text-decoration: none;
transition-duration: 0.6s;
-moz-transition-duration: 0.6s;
-webkit-transition-duration: 0.6s;
-o-transition-duration: 0.6s;}

a:hover {font: normal 8px consolas; 
font-weight: 0; letter-spacing: 1px; 
color: #c5a808; text-transform: uppercase; 
background: #0c0800; 
border-bottom: 0px dashed #444444; 
text-decoration: none; transition-duration: 0.6s;
-moz-transition-duration: 0.6s;-webkit-transition-duration: 0.6s;-o-transition-duration: 0.6s;} 


/* ---------- Seleçao Colorida --------- */

::-moz-selection {
color: #c5a808;
background: #;}

::selection {
color: #c5a808;
background: #;}


/* ----------------- Opacidade ----------------- */
a img {
-webkit-filter: grayscale(1.0) blur(1px);
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
filter:alpha(opacity=80); 
-moz-opacity:0.80; 
opacity:0.80; 
-webkit-transition: opacity 0.5s linear;
-webkit-border-radius: 0px;
}

a:hover img {
-webkit-filter: grayscale(0.0) blur(0px);
-webkit-transition:All 1s ease;
-moz-transition:All 1s ease;
-o-transition:All 1s ease;
filter:alpha(opacity=100); 
-moz-opacity:1.0; 
opacity:1.0;
-webkit-transition: opacity 0.5s linear;
-webkit-border-radius: 0px;
}


/* ---------- Barra --------- */

#barra {align: center; margin-top: 0px; height: 70px;  width: 95%; 
background: transparent; } #barra .tubo {align: left; text-align: center;  
margin-left: -100px;padding: 10px; width: 95%;background: transparent; 
height: 130px;} #barra .fvbarraf {align: center; margin-top: -10px; 
height: 4px; font: 11px cambria;  color:#4d402f; background: #0c0800;
border: 0px solid #30271b; opacity: 1.0; line-height: 12px; margin-bottom: -30px; 
-moz-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px;} 

#barra .fvbarra a:link, #barra .fvbarra a:visited ,#barra .fvbarra a:active { align: center;border-radius: 0px; -moz-border-radius: 0px; 
-webkit-border-radius: 0px;color: #4d402f;  font: 8px consolas; font-style: none; font-weight: none; line-height: 12px; font-style: none; 
text-align: center;  cursor: hand; padding: 1px; letter-spacing: 0px; text-decoration: none; text-transform: uppercase; background: url("") #0c0800;
-webkit-box-shadow: 0px 0px 0px #CC9933;-moz-box-shadow: 0px 0px 0px #CC9933; box-shadow: 0px 0px 0px #CC9933;margin: 2px; 
-webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;} 

#barra .fvbarra a:hover { align: center;border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px;
color: #30271b; font: 8px consolas; font-style: none; font-weight: none; line-height: 12px; font-style: none;
text-align: center; cursor: hand; letter-spacing: 0px; padding: 1px; text-decoration: none; text-transform: uppercase; 
background: #c5a808;-webkit-box-shadow: 0px 0px 0px #CC9933;-moz-box-shadow: 0px 0px 0px #CC9933; 
box-shadow: 0px 0px 0px #CC9933;margin: 2px; -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out;} 

#barra .fvbarra { align: center; font: normal 1px Verdana; color: transparent;} #barra .barraimg {opacity:.0;}



/* ------------ COMENTÁRIOS -------------- */

input, textarea, select 
{font-family: verdana; 
font-size: 11px;
text-align: center;
padding: 2px;
color: #30271b;
border: 1px dotted #0c0800;
background: #110b01;}

::-webkit-scrollbar-thumb:vertical {background-color: #0c0800; height: 5px;}
::-webkit-scrollbar-thumb:horizontal {background-color: #0c0800; height:5px!important;}
::-webkit-scrollbar {background-color: #100a00; height:10px; width:5px;}

x
O Canto dos Atalhos
Selecione a função
Componha o seu atalho

Não adicionou qualquer atalho
Desativar a área ativa
